body {
    text-align: center;
    margin: 0px;
}

nav {
    background-color: darkslategray;
    padding: 5px;
    display: flex; 
    justify-content: right;
}

nav a {
    padding: 2px;
    color: white;
    text-decoration: none;
  }
  
nav a:hover {
    background-color: black;
    width: 120%;
}

footer {
    background-color: darkslategray;
    padding: 5px;
    display: flex; 
    justify-content: center;
}

footer a {
    text-decoration: none;
    padding: 2px;
    color: white;
}
  
footer a:hover {
    background-color: black;
    width: 100%;
}

hr {
   height: 30px;
   background-color: black;
   margin: auto;
}

dd {
    padding-bottom: 5%;
}


.title {
    font-family: 'Playfair Display', serif;
    padding-top: 100px;
    color: white;
    font-size: xxx-large;
    text-shadow: 
    -2px -3px 0 black;
}

.intro {
   padding: 40px;
   height: 500px;
   background-image: url("../images/wharariki.jpg");
   background-position: center;
   background-size: cover;
}

.main{
    background-image: url("../images/desktop_image.png");
    background-size: cover;
    height: 90%;
    background-position: center;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 5%;
    padding-left: 7%;
    padding-right: 7%; 
    font-family: 'Montserrat', sans-serif;
}

.card {
    background-color: whitesmoke;
    border: 2px solid black;
    height: max-content;
}

.card img {
    padding:20px;
}

.leadership_card {
    padding-right: 8%;
}

.info_card {
    background-image: url("../images/buttons.png");
    background-repeat: no-repeat;
    background-size:  30%;
    background-position: top right;
    background-color: whitesmoke;
    width:30%;
    padding-left: 1%;
    padding-right: 1%;
    margin:auto;
    font-size: larger;
    border: 2px solid black;
}

.about_bar {
    background-image: url("../images/buttons.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top right;
    width:fit-content;
    padding-left: 1%;
    padding-right: 1%;
    margin:auto;
    background-color: whitesmoke;
    font-size: xx-large;
    border: 2px solid black;
}

.headshot {
    border: 2px solid black;
}

.link {
    color: blue;
    text-decoration: none;
}

.link :hover{
    text-transform:uppercase;
    color: firebrick;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
}

ul {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.top_left_image {
    position: absolute;
    width: 20%;
    top: 10%;
    left: 5%;
    border: 4px solid whitesmoke;
}

.top_right_image {
    position: absolute;
    width: 20%;
    top: 10%;
    right: 5%;
    background-color: whitesmoke;
}

.taskbar {
    margin: auto;
    background-image: url("../images/taskbar.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.one-col {
    border: 5px solid darkslategray;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.button_group {
    background-image: url("../images/buttons.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: top right;
    background-color: whitesmoke;
}