body {
    text-align: center;
    margin: 0px;
}

nav {
    background-color: darkslategray;
    padding: 5px;
    display: flex; 
    justify-content: right;
}

nav a {
    padding: 2px;
    color: white;
    text-decoration: none;
  }
  
nav a:hover {
    background-color: black;
    width: 120%;
}

footer {
    background-color: darkslategray;
    padding: 5px;
    display: flex; 
    justify-content: center;
}

footer a {
    text-decoration: none;
    padding: 2px;
    color: white;
}
  
footer a:hover {
    background-color: black;
    width: 100%;
}

br {
   height: 20%;
}



.title {
    padding-top: 70px;
    color: white;
    font-size: xxx-large;
    text-shadow: 
    -2px -3px 0 black;
}

.intro {
   padding: 40px;
   height: 500px;
   background-image: url("../images/wharariki.jpg");
   background-position: center;
   background-size: cover;
}

.main{
    background-image: url("../images/desktop_image.png");
    background-size: cover;
    height: 90%;
    background-position: center;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 5%;
    padding-left: 7%;
    padding-right: 7%; 
}

.languages_card {
    background-color: whitesmoke;
    border: 2px solid black;
}

.leadership_card {
    background-color: whitesmoke;
    border: 2px solid black;
}

.skills_card {
    background-color: whitesmoke;
    border: 2px solid black;
}

.info_card {
    background-color: whitesmoke;
    width:30%;
    padding-left: 1%;
    padding-right: 1%;
    margin:auto;
    font-size: larger;
    border: 2px solid black;
}

.about_bar {
    width:fit-content;
    padding-left: 1%;
    padding-right: 1%;
    margin:auto;
    background-color: whitesmoke;
    font-size: xx-large;
    border: 2px solid black;
}

.headshot {
    border: 2px solid black;
}

.link {
    color: blue;
    text-decoration: none;
}